.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width:100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86,165,235,0.25);
    background-color: white;
    border-radius: 1rem;


}

.choice-container:hover {
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(130, 228, 248);
    transform: translateX(-0.3rem);
    transition: all 0.4s ease;
    color:rgb(127, 127, 211);

}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color:rgb(98, 212, 227);
    color: white;
    border-radius: 1rem;

}

.choice-text {
    padding: 1.5rem;
    width:100%;
    font-family: Georgia, serif;
}

.correct {
    background-color: rgb(89, 245, 89) ;
}

.incorrect {
    background-attachment: rgb(122, 30, 30);
}

/*HUd*/
#hub {
    display:flex;
    justify-self: space-around;
}

.hub-prefix {
    text-align: center;
    font-size: 2rem;
}
.hub-main-text{
    text-align: center;
}
body {
    background-color: rgb(196, 249, 252);
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.35rem solid rgb(98, 182, 219);
    margin-top: 1.5rem;
}

#progress_bar_full {
    height: 2.345rem;
    background-color: rgb(181, 117, 226);
    width: 0%;

}

#loader {
    border:1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #595cea;
    width: 12rem;
    height: 12rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
   0% {
    transform:rotate(0deg);
}
  100% {
    transform:rotate(360deg);
  }
}